blue:
  masthead:
    color: "#2c3143"
    text:
      color: "#f8f9fa"
      hover: gold
      active: white
    link:
      color: transparent
      hover: transparent
      active: "#181a24"
    logo:
      img: "/static/favicon.svg"
      img-secondary: null

lightblue:
  masthead:
    color: "#384E77"
    text:
      color: white
      hover: "#E6F9AF"
      active: white
    link:
      color: transparent
      hover: transparent
      active: "#18314F"
    logo:
      img: "/static/favicon.svg"

pride:
  masthead:
      color: >
        conic-gradient(at 1.4% 1.5rem, #0000 221.25deg, white 222deg 318deg, #0000 318.25deg),
        conic-gradient(at 2.3% 1.5rem, #0000 221.25deg, #ffa6b9 222deg 318deg, #0000 318.25deg),
        conic-gradient(at 3.2% 1.5rem, #0000 221.25deg, #00d2ff 222deg 318deg, #0000 318.25deg),
        conic-gradient(at 4.1% 1.5rem, #0000 221.25deg, #753000 222deg 318deg, #0000 318.25deg),
        conic-gradient(at 5.0% 1.5rem, #0000 221.25deg, black 222deg 318deg, #0000 318.25deg),
        linear-gradient(red 0 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0)
      text:
        color: white
        hover: gold
        active: white
      link:
        color: >
          rgba(60, 71, 109, 0.8)
        hover: >
          rgba(50, 58, 83, 0.8)
        active: >
          rgba(97, 112, 166, 0.8)
      logo:
        img: "/static/favicon.svg"
        img-secondary: null

smoky:
  masthead:
    color: "#0C0F0A"
    text:
      color: white
      hover: "#FBFF12"
      active: white
    link:
      color: transparent
      hover: transparent
      active: "#FF206E"
    logo:
      img: "/static/favicon.svg"
