// ==== Unified panel styles ====
.unified-panel {
    display: flex;
    flex-flow: column;
    background: $panel-bg-color;
    height: 100%;
    overflow: auto;
}
.unified-panel-header {
    @extend .unselectable;
    @extend .px-3;
    @extend .d-flex;
    height: $panel_header_height;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    color: $panel-header-text-color;
    background: $panel-bg-header-color;
    a {
        color: $panel-header-text-color;
    }
    .unified-panel-header-inner {
        @extend .w-100;
        min-width: max-content;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    .panel-header-buttons {
        order: 9999;
        @extend .d-flex;
        .panel-header-button {
            text-align: center;
            &:not(:last-child) {
                @extend .mr-2;
            }
            &:hover {
                color: $brand-info;
            }
        }
        .panel-header-button-toolbox {
            color: $brand-dark;
            flex: 1;
            @extend .p-1;
            text-align: center;
            font-size: $h4-font-size;
            align-items: center;
            &:hover {
                color: $brand-info;
                background-color: $brand-light;
                text-decoration: none !important;
                border-color: $brand-light;
            }
        }
    }
}
.unified-panel-controls {
    @extend .px-3;
}
.unified-panel-body {
    @extend .p-0;
    @extend .w-100;
    @extend .h-100;
    @extend .overflow-auto;
    flex: 1;
}
.unified-panel-body-background {
    background: none repeat scroll 0 0 $panel-bg-color;
}
.unified-panel-footer {
    @extend .unselectable;
    position: relative;
    height: $panel_footer_height;
    line-height: $panel_footer_height;
    width: 100%;
    background: $panel-footer-bg-color;
    color: $panel-header-text-color;
    a {
        color: $panel-header-text-color;
    }
    .drag {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        text-align: center;
        height: $panel_footer_height;
        width: $panel_footer_height - 5;
        background-image: url(../../assets/images/visualization/draggable_horizontal.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: col-resize;
    }
}

// Needs to be outside panel to show when hidden
.panel-collapse {
    @extend .fa;
    $border-color: darken($panel-footer-bg-color, 20%);
    font-size: 4/3em;
    cursor: pointer;
    display: block;
    position: fixed;
    text-align: center;
    height: $panel_footer_height;
    line-height: $panel_footer_height;
    width: $panel_footer_height;
    background: $panel-footer-bg-color;
    border: solid $panel-footer-bg-color 1px;
    z-index: 1;
    &.right {
        right: 0;
        border-top-left-radius: $border-radius-base;
        line-height: inherit;
        &:before {
            content: "\f054";
        }
        &.hidden:before {
            content: "\f053";
        }
        &.hidden {
            border-top-color: $border-color;
            border-left-color: $border-color;
        }
    }
    &.left {
        left: 0;
        border-top-right-radius: $border-radius-base;
        line-height: inherit;
        &:before {
            content: "\f053";
        }
        &.hidden:before {
            content: "\f054";
        }
        &.hidden {
            border-top-color: $border-color;
            border-right-color: $border-color;
        }
    }
}
