@import "theme/blue.scss";
.shed-style-container {
    width: 95%;
    margin: auto;
    margin-top: 1em;
    overflow: auto !important;
    .header {
        h2 {
            float: left;
        }
        span {
            float: right;
        }
    }
}
.ui-autocomplete {
    background-color: #fff;
    li.ui-menu-item {
        list-style-type: none;
    }
}

// honeypot for registration form
#for_bears {
    display: none;
}

// password complexity monitor
#change_password,
#registrationForm {
    .progress {
        width: 200px;
        margin-left: 20px;
    }
    .progress-bar {
        color: black;
        text-align: left;
    }
}

/* Toolshed, reports custom styles from mako templates */
body.toolshed,
body.reports {
    margin: 0;
    padding: 0;
    overflow: hidden;
    #left {
        background: #c1c9e5 url(../../assets/images/menu_bg.png) top repeat-x;
    }
    .unified-panel-body {
        overflow: auto;
    }
    .toolMenu {
        margin-left: 10px;
    }
}
